<!DOCTYPE html>
<html>

<head>
    <title>Portfolio Generator</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/w3.css">
    <script src="script.js"></script>
</head>

<body>
    <h1>Portfolio Generator</h1>
    <form class='w3-container w3-card' id="portfolioForm" action="/generate" method="post">
        <h3> Personal Information</h3>
        <p> 
            <label for="name">Name:</label>
            <input class='w3-input w3-border' type="text" id="name" name="name" required> 
        </p>
        <div class= "w3-row">
            <div class= "w3-half">
                <p> 
                    <label for="name">Phone Number:</label>
                    <input class='w3-input w3-border' type="text" id="number" name="number" required> 
                </p>
            </div>

            <div class= "w3-half">
                <p> 
                    <label for="email">Email Address:</label>
                    <input class='w3-input w3-border' type="text" id="email" name="email" required> 
                </p>
            </div>
        </div>
        <hr>

        <h3>Education Information</h3>

        <div class= "w3-row">
            <div class= "w3-half">
                <p> 
                    <label for="degree">Degree:</label>
                    <input class='w3-input w3-border' type="text" id="degree" name="degree" required> 
                </p>
            </div>

            <div class= "w3-half">
                <p> 
                    <label for="major">Major:</label>
                    <input class='w3-input w3-border' type="text" id="major" name="major" required> 
                </p>
            </div>
        </div>

        <div class= "w3-row">
            <div class= "w3-half">
                <p> 
                    <label for="school-start">Start Year:</label>
                    <input class='w3-input w3-border' type="text" id="school-start" name="school-start" required> 
                </p>
            </div>

            <div class= "w3-half">               
                <p> 
                    <label for="school-end">Graduating Year:</label>
                    <input class='w3-input w3-border' type="text" id="school-end" name="school-end" required> 
                </p>
            </div>
        </div>

        <p> 
            <label for="university">University Name:</label>
            <input class='w3-input w3-border' type="text" id="university" name="university" required> 
        </p>        
       
        <hr>

        <h3>Work Experience</h3>

        <p> <label for="experience">Job Description:</label>
            <textarea id="experience" name="experience" rows="4"></textarea>
        </p>

        <p>
            <input class='w3-input' type="submit" value="Generate Portfolio">
        </p>

    </form>

    <div id="output"></div>

    <div id="popup" class="w3-modal w3-animate-opaque" style="display: none; text-align: center;">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container">
                <p>Congratulations! Your website has been generated.</p>
                <span onclick="document.getElementById('popup').style.display='none'"
                    class="w3-button w3-large w3-display-topright">
                    &times;
                </span>
            </header>
            <footer id="modal-footer" class="w3-container w3-padding-small">
                <p>
                    <a href="portfolio.html" class="w3-btn w3-border w3-light-grey" target="_blank">Preview</a>
                    <a href="portfolio.html" class="w3-btn w3-border w3-light-grey" target="_blank">Download Files</a>
                </p>
            </footer>
        </div>
    </div>

    <script>
        document.getElementById('portfolioForm').addEventListener('submit', function (e) {
            e.preventDefault();

            var form = e.target;

            var xhr = new XMLHttpRequest();
            xhr.open(form.method, form.action, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('popup').style.display = 'block';
                    

                }
            };
            xhr.send(new FormData(form));
        });
    </script>
</body>

</html>