<!DOCTYPE HTML>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/main/favicon.ico">
    <title>DesignFolio - Portfolio Designer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/w3.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <meta name="description" content="Easy solution to make your own portfolio website">
    <meta name="keywords" content="website builder, portfolio website">

</head>

<body>

    <header id="header" class="alt">
        <div class="logo"><a href="index.html"><img style="max-height:40px; vertical-align:middle"
                    src="static/images/main/logo.png"></a></div>
        <div class="nav">
            <ul>
                <li><a href='#home'>Home</a></li>
                <li><a href='#form'>Design Form</a></li>
            </ul>
        </div>


    </header>

    <!-- Banner -->
    <section id='home' class="banner full">
        <article>
            <img src="static/images/portfolio/green-discs.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Get Your Own Portfolio Website in minutes</p>
                    <div id="container">
                        <div id="head_text">Welcome to </div>
                        <div id="text"> DesignFolio</div>
                    </div>
                </header>

                <section id="section07" class="demo">
                    <a href="#form"><span></span><span></span><span></span></a>
                </section>
            </div>
        </article>
    </section>

    <!-- One -->
    <a id="form">
        <section class="wrapper style2" style="background-color: #13221f;">
            <div class="inner">
                <div class="content">
                    <header class="align-center">
                        <p style="text-transform: uppercase;
                        color: #ffffff;
	                   font-size: 1rem;
	                   font-weight: 300;
	                   margin: 0 0 .25rem 0;
	                   padding: 0 0 .75rem 0;
	                   letter-spacing: .25rem;">
                            FILL IT with your information </p>

                        <h2 style="text-transform: uppercase">Input Form</h2>
                    </header>

                    <div class="w3-row-padding" style="padding: 0 10%;">
                        <form class='w3-container w3-card w3-white w3-padding-large' id="portfolioForm"
                            action="/generate" method="post">
                            <h3><i class="fa fa-user fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Personal
                                Information</h3>
                            <p>Enter personal information like name, email, resume, etc. </p>
                            <p class="field" style="padding-inline: 5px;">
                                <label for="name">Name:</label>
                                <input class='w3-input  w3-border' type="text" id="name" name="name" required>
                            </p>
                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="name">Phone Number:</label>
                                        <input class='w3-input  w3-border' type="text" id="number" name="number"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="email">Email Address:</label>
                                        <input class='w3-input  w3-border' type="text" id="email" name="email" required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="resume">Headshot Image:</label>
                                        <input type="file" class='w3-input  w3-border' id="headsshot" name="headshot"
                                            style="background-color: #ececec;" required />
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="resume">Resume:</label>
                                        <input type="file" class='w3-input  w3-border' id="resume" name="resume"
                                            style="background-color: #ececec;" required />
                                    </p>
                                </div>
                            </div>


                            <p class="field" style="padding-inline: 5px;">
                                <label for="summary">Summary:</label>
                                <textarea class='w3-input  w3-border' id="summary" name="summary" rows="4"></textarea>
                            </p>

                            <hr>

                            <h3><i class="fa fa-university fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Education
                            </h3>
                            <p>Enter information about your most recent education.</p>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="degree">Degree:</label>
                                        <input class='w3-input  w3-border' type="text" id="degree" name="degree"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="major">Major:</label>
                                        <input class='w3-input  w3-border' type="text" id="major" name="major" required>
                                    </p>
                                </div>
                            </div>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="school-start">Start Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="school-start"
                                            name="school-start" required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="school-end">Graduating Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="school-end" name="school-end"
                                            required>
                                    </p>
                                </div>
                            </div>

                            <p class="field" style="padding-inline: 5px;">
                                <label for="university">University Name:</label>
                                <input class='w3-input  w3-border' type="text" id="university" name="university"
                                    required>
                            </p>

                            <p class="field" style="padding-inline: 5px;">
                                <label for="school-misc">Miscellaneous Information:</label>
                                <textarea class='w3-input  w3-border' id="school-misc" name="school-misc"
                                    rows="4"></textarea>
                            </p>



                            <hr>
                            <h3><i class="fa fa-cogs fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Skills</h3>
                            <p>Enter information about your 6 most relevant technical skills.</p>
                            <div class="w3-row">
                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill1">Skill Name:</label>
                                        <input class='w3-input  w3-border' type="text" id="skill1" name="skill1"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill1-prof">Proficiency:</label>
                                        <input type="range" min="1" max="100" value="50" class="w3-input w3-border"
                                            id="skill1-prof" name="skill1-prof" required
                                            style="background-color: #ececec;" required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill2">Skill Name:</label>
                                        <input class='w3-input  w3-border' type="text" id="skill2" name="skill2"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill2-prof">Proficiency:</label>
                                        <input type="range" min="1" max="100" value="50"
                                            class="w3-input w3-border slider" id="skill2-prof" name="skill2-prof"
                                            required style="background-color: #ececec;" required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill3">Skill Name:</label>
                                        <input class='w3-input  w3-border' type="text" id="skill3" name="skill3"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill3-prof">Proficiency:</label>
                                        <input type="range" min="1" max="100" value="50"
                                            class="w3-input w3-border slider" id="skill3-prof" name="skill3-prof"
                                            required style="background-color: #ececec;" required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill4">Skill Name:</label>
                                        <input class='w3-input  w3-border' type="text" id="skill4" name="skill4"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill4-prof">Proficiency:</label>
                                        <input type="range" min="1" max="100" value="50"
                                            class="w3-input w3-border slider" id="skill4-prof" name="skill4-prof"
                                            required style="background-color: #ececec;" required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill5">Skill Name:</label>
                                        <input class='w3-input  w3-border' type="text" id="skill5" name="skill5"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill5-prof">Proficiency:</label>
                                        <input type="range" min="1" max="100" value="50"
                                            class="w3-input w3-border slider" id="skill5-prof" name="skill5-prof"
                                            required style="background-color: #ececec;" required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill6">Skill Name:</label>
                                        <input class='w3-input  w3-border' type="text" id="skill6" name="skill6"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-quarter">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="skill6-prof">Proficiency:</label>
                                        <input type="range" min="1" max="100" value="50"
                                            class="w3-input w3-border slider" id="skill6-prof" name="skill6-prof"
                                            required style="background-color: #ececec;" required>
                                    </p>
                                </div>
                            </div>

                            <hr>

                            <h3><i class="fa fa-briefcase fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Work
                                Experience</h3>
                            <p>Enter information about your 3 most relevant work experience.</p>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="title1">Job Title:</label>
                                        <input class='w3-input  w3-border' type="text" id="title1" name="title1"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="name-location1">Company Name & Location:</label>
                                        <input class='w3-input  w3-border' type="text" id="name-location1"
                                            name="name-location1" required>
                                    </p>
                                </div>
                            </div>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="work-start1">Start Month & Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="work-start1"
                                            name="work-start1" required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="work-end1">End Month & Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="work-end1" name="work-end1"
                                            required>
                                    </p>
                                </div>
                            </div>

                            <p class="field" style="padding-inline: 5px;"> <label for="work-description1">Job
                                    Description:</label>
                                <textarea class='w3-input  w3-border' id="work-description1" name="work-description1"
                                    rows="4"></textarea>
                            </p>

                            <hr>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="title2">Job Title:</label>
                                        <input class='w3-input  w3-border' type="text" id="title2" name="title2"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="name-location2">Company Name & Location:</label>
                                        <input class='w3-input  w3-border' type="text" id="name-location2"
                                            name="name-location2" required>
                                    </p>
                                </div>
                            </div>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="work-start2">Start Month & Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="work-start2"
                                            name="work-start2" required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="work-end2">End Month & Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="work-end2" name="work-end2"
                                            required>
                                    </p>
                                </div>
                            </div>

                            <p class="field" style="padding-inline: 5px;"> <label for="work-description2">Job
                                    Description:</label>
                                <textarea class='w3-input  w3-border' id="work-description2" name="work-description2"
                                    rows="4"></textarea>
                            </p>

                            <hr>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="title3">Job Title:</label>
                                        <input class='w3-input  w3-border' type="text" id="title3" name="title3"
                                            required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="name-location3">Company Name & Location:</label>
                                        <input class='w3-input  w3-border' type="text" id="name-location3"
                                            name="name-location3" required>
                                    </p>
                                </div>
                            </div>

                            <div class="w3-row">
                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="work-start3">Start Month & Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="work-start3"
                                            name="work-start3" required>
                                    </p>
                                </div>

                                <div class="w3-half">
                                    <p class="field" style="padding-inline: 5px;">
                                        <label for="work-end3">End Month & Year:</label>
                                        <input class='w3-input  w3-border' type="text" id="work-end3" name="work-end3"
                                            required>
                                    </p>
                                </div>
                            </div>

                            <p class="field" style="padding-inline: 5px;"> <label for="work-description3">Job
                                    Description:</label>
                                <textarea class='w3-input  w3-border' id="work-description3" name="work-description3"
                                    rows="4"></textarea>
                            </p>

                            <p class="field" style="padding-inline: 5px;">
                                <input class='w3-input w3-round-xlarge' style="background-color: #27685b;" type="submit"
                                    value="Generate Portfolio">
                            </p>

                        </form>
                    </div>


                </div>
            </div>

            <div id="popup" class="w3-modal w3-animate-opaque" style="display: none; text-align: center;">
                <div class="w3-modal-content w3-card-4 w3-padding-large">
                    <header class="w3-container">
                        <p class="w3-text-black">Congratulations! Your website has been generated.</p>
                        <span onclick="document.getElementById('popup').style.display='none'"
                            class="w3-button w3-display-topright">
                            &times;
                        </span>
                    </header>
                    <footer id="modal-footer" class="w3-container w3-padding-small">

                        <a href="portfolio.html" class="w3-btn w3-border w3-light-grey" target="_blank">Preview</a>
                        <a href="{{ url_for('download') }}" class="w3-btn w3-border w3-light-grey">Download Website</a>


                    </footer>
                </div>
            </div>
            </div>
        </section>
    </a>

    <footer id="footer">
        <div class="inner">
            <div class="copyright"> ©Kartikey H. Pandey. All rights reserved 2023</div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrollex.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        document.getElementById('portfolioForm').addEventListener('submit', function (e) {
            e.preventDefault();

            var form = e.target;

            var xhr = new XMLHttpRequest();
            xhr.open(form.method, form.action, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('popup').style.display = 'block';
                }
            };
            xhr.send(new FormData(form));
            $("#resume").val('');
            $("#headshot").val('');

        });
    </script>

</body>

</html>