<!DOCTYPE HTML>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>Kartikey Pandey</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/w3.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index.html"> Kartikey Pandey</a></div>
        <div class="nav">
            <ul>
                <li><a href='index.html'>Home</a></li>
                <li><a href='#work-experience'>Work Experience</a></li>
                <li><a href='#projects'>Projects</a></li>
                <li><a href='#awards'>Awards</a></li>
                <li><a href="#menu" class="icon"><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>


    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href='#home'>Home</a></li>
            <li><a href='#work-experience'>Work Experience</a></li>
            <li><a href='#projects'>Projects</a></li>
            <li><a href='#awards'>Awards</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id='home' class="banner full">
        <article>
            <img src="static/images/portfolio/green-discs.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Welcome to my portfolio</p>
                    <div id="container">
                        <div id="head_text">I Am&nbsp;</div>
                        <div id="text"></div>
                    </div>
                </header>

                <section id="section07" class="demo">
                    <a href="#About"><span></span><span></span><span></span></a>
                </section>
            </div>
        </article>
    </section>

    <!-- One -->
    <a id="About">
        <section id="work-experience" class="banner half">
            <article>
                <img src="static/images/portfolio/bg.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>Education, Skills &amp; Contact</p>
                        <h2>About</h2>
                    </header>
                </div>
            </article>
        </section>

        <section class="wrapper style2" style="background-color: #13221f;">
            <div class="inner">
                <div class="content">
                    <div class="w3">
                        <header>

                        </header>

                        <div class="w3-row-padding w3-white w3-text-grey" style="padding-top: 1%;">
                            <div class="w3-third">
                                <div class="w3-white w3-text-grey">
                                    <div class="w3-display-container">
                                        <img id="headshot-file"
                                            src="/static/Untitled%20design%20(3).png" style="width:100%"
                                            alt="Photo">
                                    </div>
                                    <div class="w3-container">
                                        <h3 class="w3-text-black w3-padding-12"><i
                                                class="fa fa-user fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Info
                                        </h3>
                                        <p><i
                                                class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black"></i>kartikeyhpandey@gmail.com
                                        </p>
                                        <p><i
                                                class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-black"></i>2406514445
                                        </p>
                                        <p><i class="fa fa-file-text fa-fw w3-margin-right w3-large w3-text-black"></i>
                                            <a id="resume-file" target="_blank"
                                                href="/static/%5B&#39;Kartikey_Pandey_2020.pdf&#39;%5D">Resume</a>
                                    </div>
                                </div>
                            </div>

                            <div class="w3-twothird">
                                <div class="w3-container w3-white w3-margin-bottom">

                                    <h3 class="w3-text-black w3-padding-16"><i
                                            class="fa fa-book fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Summary
                                    </h3>
                                    <div class="w3-container">
                                        <p></p>
                                    </div>
                                    <hr>
                                    <h3 class="w3-text-black w3-padding-16"><i
                                            class="fa fa-university fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Education
                                    </h3>
                                    
                                    <div class="w3-container">
                                        <h5 class="w3-opacity"><b>BS in CompE / University of Cincinnati</b></h5>
                                        <h6 class="w3-text-black"><i
                                                class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2023</h6>
                                        <p>Undergrad</p>
                                    </div>
                                    
                                    <div class="w3-container">
                                        <h5 class="w3-opacity"><b>MS in CompE / University of Cincinnati</b></h5>
                                        <h6 class="w3-text-black"><i
                                                class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2023</h6>
                                        <p>grad</p>
                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="w3-row-padding w3-white w3-text-grey ">
                                    <h3 class="w3-text-black w3-padding-16"><i
                                            class="fa fa-cogs fa-fw w3-margin-right w3-xlarge w3-text-black"></i>Skills
                                    </h3>
                                    <div class="w3-half">
                                        <div class="w3-grey w3-round-xxlarge w3-small">
                                            <div id="skill1" class="w3-container w3-center w3-round-xxlarge w3-black"
                                                style="width: 20%">
                                                <p class="" style="font-size: 1rem ;margin: 0 0 0 0">a</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="w3-grey w3-round-xxlarge w3-small">
                                            <div id="skill2" class="w3-container w3-center w3-round-xlarge w3-black"
                                                style="width:95%">
                                                <p class="" style="font-size: 1rem ;margin: 0 0 0 0"> java</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="w3-grey w3-round-xlarge w3-small">
                                            <div id="skill3" class="w3-container w3-center w3-round-xlarge w3-black"
                                                style="width:95%">
                                                <p class="" style="font-size: 1rem ;margin: 0 0 0 0">c</p>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="w3-half">
                                        <div class="w3-grey w3-round-xlarge w3-small">
                                            <div id="skill4" class="w3-container w3-center w3-round-xlarge w3-black"
                                                style="width:90%">
                                                <p class="" style="font-size: 1rem ;margin: 0 0 0 0">d</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="w3-grey w3-round-xlarge w3-small">
                                            <div id="skill5" class="w3-container w3-center w3-round-xlarge w3-black"
                                                style="width:90%">
                                                <p class="" style="font-size: 1rem ;margin: 0 0 0 0">e</p>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="w3-grey w3-round-xlarge w3-small">
                                            <div id="skill6" class="w3-container w3-center w3-round-xlarge w3-black"
                                                style="width:95%">
                                                <p class="" style="font-size: 1rem ;margin: 0 0 0 0">f</p>
                                            </div>
                                        </div>

                                        <br>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Right Column -->
                </div>
                <br>
            </div>
        </section>
    </a>

    <section id="work-experience" class="banner half">
        <article>
            <img src="static/images/portfolio/slide03.jpg" alt="" />
            <div class="inner">
                <header>

                    <p>Current &amp; Past Engineering Experiences</p>
                    <h2><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxxxxlarge w3-text-white"></i>Work Experience
                    </h2>

                </header>
            </div>
        </article>
    </section>

    <!-- Two -->
    <section class="wrapper style2" style="background-color: #13221f;">
        <div class="inner">
            <div class="content">
                <div class="w3">
                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        
                        <div data-aos="fade-up">
                            
                            <div class="w3-container">
                                <h5 class="w3-opacity"><b>adj / University of Cincinnati</b>
                                </h5>
                                <h6 class="w3-text-black"><i
                                        class="fa fa-calendar fa-fw w3-margin-right"></i>kjnckjfdn - knjskjn</h6>
                                <p>descript</p>
                                <hr>
                            </div>
                             
                        </div> 
                                        
                    </div>

                </div>

            </div>

        </div>
    </section>

    <section id="projects" class="banner half">
        <article>
            <img src="static/images/portfolio/slide01.jpg" alt="" />

            <div class="inner">
                <header>

                    <p>Engineering projects I have worked on</p>
                    <h2><i class="fa fa-cog fa-fw w3-margin-right w3-xxlarge w3-text-white"></i>Projects</h2>

                </header>
            </div>
        </article>
    </section>

    <!-- Two -->
    <section class="wrapper style2" style="background-color: #13221f;">

        <div class="inner">

            <div class="content">

                <div class="w3">
                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        
                        <div data-aos="fade-up">
                            <div class="w3-container">
                                <header>
                                    <h4>mkcdlksm</h4>
                                </header>
                                <p>descript</p>
                                <h5 class="w3-opcaity">Pictures </h5>
                                <div class="w3-row w3-center">
                                    <div class="w3-col s2 w3-center">
                                        <img src="/static/Untitled%20design%20(3).png" width=90%>
                                    </div>
                                    <div class="w3-col s2 w3-center">
                                        <img src="/static/Untitled%20design%20(3).png" width=90%>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        
                        <div data-aos="fade-up">
                            <div class="w3-container">
                                <header>
                                    <h4>mkcdlksm</h4>
                                </header>
                                <p>descript</p>
                                <h5 class="w3-opcaity">Pictures </h5>
                                <div class="w3-row w3-center">
                                    <div class="w3-col s2 w3-center">
                                        <img src="/static/Untitled%20design%20(3).png" width=90%>
                                    </div>
                                    <div class="w3-col s2 w3-center">
                                        <img src="/static/Untitled%20design%20(3).png" width=90%>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        
                        <hr>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <section id="awards" class="banner half">
        <article>
            <img src="static/images/portfolio/award.jpg" alt="" />
            <div class="inner">
                <header>

                    <p>Honors, scholarships &amp; Awards recieved</p>
                    <h2><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-white"></i>Awards</h2>

                </header>
            </div>
        </article>
    </section>

    <!-- Two -->

    <section class="wrapper style2" style="background-color: #13221f;">

        <div class="inner">

            <div class="content">

                <div class="w3">
                    <div class="w3-container w3-card w3-white w3-margin-bottom">

                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <h4>Description</h4>
                                        </th>
                                        <th>
                                            <h4>Year</h4>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td>nlwsdc</td>
                                        <td>1413</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>



    <footer id="footer">
        <div class="inner">
            <div class="content">
                <section>
                    <h4>Kartikey Pandey</h4>
                    <p>CompE
                        <br>University of Cincinnati
                    </p>
                </section>
                <section>
                    <h4>Contact</h4>
                    <p>kartikeyhpandey@gmail.com
                        <br>2406514445
                    </p>
                </section>               
            </div>
            <div class="copyright"> © Kartikey Pandey. All rights reserved.</div>
        </div>
    </footer>


    <!-- Scripts -->
    <script>
        document.getElementById('skill1').style.width = '50%';
        document.getElementById('skill2').style.width = '49%';
        document.getElementById('skill3').style.width = '49%';
        document.getElementById('skill4').style.width = '49%';
        document.getElementById('skill5').style.width = '49%';
        document.getElementById('skill6').style.width = '49%';
    </script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrollex.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">
        var _CONTENT = [
            "Kartikey Pandey"
        ];

        // Current sentence being processed
        var _PART = 0;

        // Character number of the current sentence being processed
        var _PART_INDEX = 0;

        // Holds the handle returned from setInterval
        var _INTERVAL_VAL;

        // Element that holds the text
        var _ELEMENT = document.querySelector("#text");

        // Cursor element
        var _CURSOR = document.querySelector("#cursor");

        // Implements typing effect
        function Type() {
            // Get substring with 1 characater added
            var text = _CONTENT[_PART].substring(0, _PART_INDEX + 1);
            _ELEMENT.innerHTML = text;
            _PART_INDEX++;

            // If full sentence has been displayed then start to delete the sentence after some time

        }

        // Implements deleting effect
        function Delete() {
            // Get substring with 1 characater deleted
            var text = _CONTENT[_PART].substring(0, _PART_INDEX - 1);
            _ELEMENT.innerHTML = text;
            _PART_INDEX--;

            // If sentence has been deleted then start to display the next sentence
            if (text === '') {
                clearInterval(_INTERVAL_VAL);

                // If current sentence was last then display the first one, else move to the next
                if (_PART == (_CONTENT.length - 1))
                    _PART = 0;
                else
                    _PART++;

                _PART_INDEX = 0;

                // Start to display the next sentence after some time
                setTimeout(function () {
                    _CURSOR.style.display = 'inline-block';
                    _INTERVAL_VAL = setInterval(Type, 100);
                }, 200);
            }
        }

        // Start the typing effect on load
        _INTERVAL_VAL = setInterval(Type, 100);
    </script>


</body>

</html>